{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}

<main class="content">
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="card">
                    <h1>Enter your new password</h1>
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <br>
                        <button class="btn btn-success">Confirm new password</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    </div>
</main>

{% endblock content %}